body {
    background-color: #f4f4f4;
}

header {
    background: linear-gradient(90deg, #17a2b8, #007bff);
}

.nav-link {
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ffd700; /* Gold color on hover */
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.card-title {
    font-size: 1.2em;
    color: #007bff; /* Bootstrap primary color */
}

.card-text {
    flex-grow: 1;
    color: #555; /* Darker text for better readability */
}

footer {
    background-color: #f1f1f1;
    color: #333;
}
